node_modules/
package-lock.json

*.log
public/wp-config.php
wp-content/advanced-cache.php
public/wp-content/backup-db/
public/wp-content/backups/
public/wp-content/blogs.dir/
public/wp-content/cache/
public/wp-content/upgrade/
public/wp-content/wp-cache-config.php
public/wp-content/plugins/hello.php

public/wp-content/uploads/cache/
public/wp-content/uploads/wc-logs/
public/wp-content/languages/wpml/

public/wp-content/fonts/

public/.htaccess
public/license.txt
public/readme.html
public/sitemap.xml
public/sitemap.xml.gz
public/wp-content/plugins/
