body {
    #page {
        & > #content {
            padding-top: 2rem;
        }

        & > .page-header {
            display: none;
        }
    }

    &.woocommerce-checkout {
        #main {
            article {
                & > .entry-content {
                    margin-top: 0;
                }
            }
        }
    }
}

.is-out-of-stock {
    color:red;
    font-weight: bold;
}

@media only screen and (min-width:36em){

}
@media only screen and (min-width:48em){
    #content {
        .col-md-3 {
            width: 15%;
        }
        .col-md-9 {
            width: 85%;
        }
    }
}
@media only screen and (min-width:64em){

}
@media only screen and (min-width:80em){

}
