body.home {
    #content.site-content {
        padding-top: 9rem;

        .container-full {
            & > div.row {
                display: flex;
                flex-direction: column-reverse;
            }
        }

        .shop-filter-toolbar {
            margin: 0;
        }
    }
}

.woocommerce {
    .products {
        li.product {
            margin-bottom: 8rem;
            width: 100%;

            img {
                padding: 0 4rem;
                transition: transform 0.3s ease-in-out;
            }
    
            &:hover {
                img {
                    transform: scale(1.02);
                }
            }
        }
    }
}

@media only screen and (min-width:36em){
    body.home {
        #content.site-content {
            .container-full {
                & > div.row {
                    display: block;
                }
            }
        }
    }
}
@media only screen and (min-width:48em){
    body.home {
        #content.site-content {
            padding-top: 15rem;
        }
    }
    
    .woocommerce {
        .products {
            li.product {
                width: 50%;
            }
        }
    }
}
@media only screen and (min-width:64em){
    .woocommerce {
        .products {
            li.product {
                width: 33%;
            }
        }
    }
}
@media only screen and (min-width:80em){

}